// Here you can add other styles
.main-container {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.title {
  margin-top: 10px;
  color: #204179;
}

.profile-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.edit-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.reject-btn {
  background-color: #d0021b;
  color: white;
  border: none;
  border-radius: 4px;
  width: 80px;
  cursor: pointer;
  margin-right: 10px;
}

.confirm-btn {
  background-color: #9ac33d;
  color: white;
  border: none;
  border-radius: 4px;
  width: 80px;
  cursor: pointer;
}

.save-btn {
  background-color: #9ac33d;
  color: white;
  border: none;
  border-radius: 4px;
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.pending {
  color: #d0021b;
}

.profileName {
  text-transform: uppercase;
}

.mgr-50 {
  margin-right: 50px;
}

.mgl-10 {
  margin-left: 10px;
}
